/* Пятая страница */
#page-5 {
  background-color: #f2e3d0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  min-height: 100vh;
  box-sizing: border-box;
}

.faq-container {
  display: flex;
  width: 100%;
  max-width: 1700px;
  gap: 250px;
}

.faq-title {
  width: 40%;
  font-size: 44px;
  color: #121212;
  font-family: "Fugaz One", sans-serif;
  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.faq-title:hover {
  transform: translateX(5px);
}

.faq-questions {
  width: 100%;
}

.faq-item {
  margin-bottom: 25px;
  border-bottom: 4px solid #01c847;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, box-shadow;
}

.faq-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
  transform: translateY(-2px);
  border-bottom-color: #00a53a;
}

.faq-question {
  font-size: 40px;
  color: #121212;
  font-family: "Albert Sans", sans-serif;
  cursor: pointer;
  padding: 10px 0;
  transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.faq-question .arrow {
  font-size: 40px;
  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform;
}

.faq-question.active .arrow {
  transform: rotate(180deg);
}

.faq-answer {
  font-size: 25px;
  color: #121212;
  font-family: "Albert Sans", sans-serif;
  padding: 0;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-out, max-height 0.8s ease-out, padding 0.5s ease-out;
  will-change: max-height, opacity, padding;
}

.faq-answer.active {
  opacity: 1;
  max-height: 500px;
  padding: 10px 0 20px 0;
  transition: opacity 0.5s ease-in, max-height 0.8s ease-in, padding 0.5s ease-in;
}

/* Адаптация для планшетов */
@media (max-width: 1024px) {
  .faq-container {
    gap: 50px;
  }

  .faq-title {
    font-size: 36px;
  }

  .faq-question {
    font-size: 32px;
  }

  .faq-question .arrow {
    font-size: 32px;
  }

  .faq-answer {
    font-size: 20px;
  }
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  #page-5 {
    padding: 30px;
  }

  .faq-container {
    flex-direction: column;
    gap: 10px;
  }

  .faq-title {
    width: 100%;
    font-size: 32px;
    text-align: center;
  }

  .faq-question {
    font-size: 28px;
  }

  .faq-question .arrow {
    font-size: 28px;
  }

  .faq-answer {
    font-size: 18px;
  }

  .faq-item {
    margin-bottom: 10px;
  }
}

/* Адаптация для очень маленьких экранов */
@media (max-width: 480px) {
  .faq-title {
    font-size: 18px;
  }

  .faq-question {
    font-size: 18px;
  }

  .faq-question .arrow {
    font-size: 18px;
  }

  .faq-answer {
    font-size: 16px;
  }
}