/* Четвертая страница */
#page-4 {
  background-color: #F2E3D0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

#page-4 .center-top-text h2 {
  color: #01C847;
  font-size: 60px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-style: normal;
}

#page-4 .center-top-text h2 .cpa-text {
  font-family: 'Baloo Chettan 2', cursive;
}

#page-4 .center-top-text p {
  color: #121212;
  font-size: 30px;
  text-align: center;
  margin-bottom: -10px;
  font-weight: bold;
}

#page-4 .center-top-text p .cpa-text {
  font-family: 'Baloo Chettan 2', cursive;
}

#page-4 .center-top-text .second-line {
  margin-top: 20px;
}

.why-we {
  text-align: center;
  margin: -40px 10px;
  z-index: 1;
}

.why-we h3 {
  font-size: 35px;
  color: #01C847;
  margin-bottom: 20px;
  font-weight: bold;
}

.why-we h3 .soft-sign {
  font-weight: normal;
  font-style: normal;
}

.why-we p {
  font-size: 30px;
  color: #121212;
  margin-bottom: 10px;
  line-height: 1.5;
  text-align: center;
}

.why-we p strong {
  font-weight: bold;
}

.why-we p .non-bold {
  font-weight: normal;
}

.why-we p br {
  display: block;
  content: "";
  margin-top: 10px;
}

.bottom-images {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: -80px;
  opacity: 0.5;
  z-index: 0;
}

/* Стили для левой картинки */
.bottom-images .left-image {
  width: 380px;
  height: 320px;
}

/* Стили для правой картинки */
.bottom-images .right-image {
  width: 250px;
  height: 300px;
}

/* Адаптация для планшетов */
@media (max-width: 1024px) {
  #page-4 {
    padding: 80px;
  }

  #page-4 .center-top-text h2 {
    font-size: 50px;
  }

  #page-4 .center-top-text p {
    font-size: 24px;
  }

  .why-we h3 {
    font-size: 30px;
  }

  .why-we p {
    font-size: 24px;
  }

  .bottom-images .left-image {
    width: 300px;
    height: 250px;
  }

  .bottom-images .right-image {
    width: 200px;
    height: 240px;
  }
  /* Стили для левой картинки */
  .bottom-images .left-image {
    width: 320px;
    height: 270px;
  }

  /* Стили для правой картинки */
  .bottom-images .right-image {
    width: 200px;
    height: 250px;
  }
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  #page-4 {
    padding: 50px;
  }

  #page-4 .center-top-text h2 {
    font-size: 40px;
  }

  #page-4 .center-top-text p {
    font-size: 20px;
  }

  .why-we {
    margin: -20px 10px;
  }

  .why-we h3 {
    font-size: 28px;
  }

  .why-we p {
    font-size: 20px;
  }

  .bottom-images {
    align-items: center;
    margin-top: -40px;
  }

  .bottom-images .left-image {
    width: 250px;
    height: 200px;
  }

  .bottom-images .right-image {
    width: 180px;
    height: 200px;
  }
}

/* Адаптация для очень маленьких экранов */
@media (max-width: 480px) {
  #page-4 {
    padding: 30px;
  }

  #page-4 .center-top-text h2 {
    font-size: 32px;
  }

  #page-4 .center-top-text p {
    font-size: 18px;
  }

  .why-we h3 {
    font-size: 24px;
  }

  .why-we p {
    font-size: 16px;
  }

  .bottom-images .left-image {
    display: none;
  }

  .bottom-images .right-image {
    display: none;
  }
}