@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "variables";
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background: #121212;
  color: #F2E3D0;
  font-family: 'Fugaz One', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 0.3s;
  user-select: none;
  overflow-x: hidden;
}

body.menu-open {
  background-color: rgba(18, 18, 18, 0.9);
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background-color: #121212;
  color: #F2E3D0;
  font-family: 'Fugaz One', sans-serif;
}


